body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:511px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:866px;
}
#u1053 {
  position:absolute;
  left:102px;
  top:30px;
  width:409px;
  height:866px;
}
#u1054 {
  position:absolute;
  left:2px;
  top:425px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:520px;
}
#u1055 {
  position:absolute;
  left:135px;
  top:177px;
  width:344px;
  height:520px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:252px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1057 {
  position:absolute;
  left:136px;
  top:697px;
  width:86px;
  height:67px;
  color:#000000;
}
#u1058 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:67px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1059 {
  position:absolute;
  left:221px;
  top:697px;
  width:87px;
  height:67px;
  color:#FFFFFF;
}
#u1060 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u1061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1061 {
  position:absolute;
  left:307px;
  top:697px;
  width:86px;
  height:67px;
}
#u1062 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1063 {
  position:absolute;
  left:393px;
  top:697px;
  width:86px;
  height:67px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1065 {
  position:absolute;
  left:256px;
  top:713px;
  width:17px;
  height:17px;
}
#u1066 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1067 {
  position:absolute;
  left:342px;
  top:713px;
  width:17px;
  height:17px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1069 {
  position:absolute;
  left:428px;
  top:713px;
  width:17px;
  height:17px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1071 {
  position:absolute;
  left:168px;
  top:713px;
  width:17px;
  height:17px;
  color:#999999;
}
#u1072 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1073 {
  position:absolute;
  left:154px;
  top:257px;
  width:306px;
  height:76px;
}
#u1074 {
  position:absolute;
  left:2px;
  top:30px;
  width:302px;
  word-wrap:break-word;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1075 {
  position:absolute;
  left:154px;
  top:205px;
  width:104px;
  height:36px;
  color:#FFFFFF;
}
#u1076 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u1077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1078 {
  position:absolute;
  left:162px;
  top:442px;
  width:298px;
  height:224px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:104px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:2px;
}
#u1080 {
  position:absolute;
  left:182px;
  top:481px;
  width:140px;
  height:1px;
}
#u1081 {
  position:absolute;
  left:2px;
  top:-8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:2px;
}
#u1082 {
  position:absolute;
  left:182px;
  top:525px;
  width:187px;
  height:1px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:-8px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:2px;
}
#u1084 {
  position:absolute;
  left:182px;
  top:571px;
  width:255px;
  height:1px;
}
#u1085 {
  position:absolute;
  left:2px;
  top:-8px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:2px;
}
#u1086 {
  position:absolute;
  left:182px;
  top:619px;
  width:255px;
  height:1px;
}
#u1087 {
  position:absolute;
  left:2px;
  top:-8px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u1088 {
  position:absolute;
  left:177px;
  top:451px;
  width:75px;
  height:15px;
  font-size:13px;
  color:#999999;
}
#u1089 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1090 {
  position:absolute;
  left:162px;
  top:213px;
  width:15px;
  height:15px;
}
#u1091 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 102, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1092 {
  position:absolute;
  left:229px;
  top:350px;
  width:140px;
  height:40px;
}
#u1093 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1094 {
  position:absolute;
  left:221px;
  top:697px;
  width:86px;
  height:67px;
}
#u1095 {
  position:absolute;
  left:2px;
  top:26px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1096 {
  position:absolute;
  left:307px;
  top:697px;
  width:86px;
  height:67px;
}
#u1097 {
  position:absolute;
  left:2px;
  top:26px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1098 {
  position:absolute;
  left:136px;
  top:697px;
  width:86px;
  height:67px;
}
#u1099 {
  position:absolute;
  left:2px;
  top:26px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
