body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:511px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:866px;
}
#u950 {
  position:absolute;
  left:102px;
  top:30px;
  width:409px;
  height:866px;
}
#u951 {
  position:absolute;
  left:2px;
  top:425px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:60px;
}
#u952 {
  position:absolute;
  left:138px;
  top:178px;
  width:343px;
  height:60px;
}
#u953 {
  position:absolute;
  left:144px;
  top:22px;
  width:56px;
  visibility:hidden;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:27.5px 8px;
  -ms-transform-origin:27.5px 8px;
  -moz-transform-origin:27.5px 8px;
  -webkit-transform-origin:27.5px 8px;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:108px;
}
#u954 {
  position:absolute;
  left:137px;
  top:656px;
  width:344px;
  height:108px;
}
#u955 {
  position:absolute;
  left:120px;
  top:46px;
  width:104px;
  visibility:hidden;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52px 8px;
  -ms-transform-origin:52px 8px;
  -moz-transform-origin:52px 8px;
  -webkit-transform-origin:52px 8px;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u956 {
  position:absolute;
  left:138px;
  top:370px;
  width:343px;
  height:1px;
}
#u957 {
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u958 {
  position:absolute;
  left:138px;
  top:507px;
  width:343px;
  height:1px;
}
#u959 {
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:391px;
}
#u960 {
  position:absolute;
  left:243px;
  top:238px;
  width:1px;
  height:390px;
}
#u961 {
  position:absolute;
  left:2px;
  top:187px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:391px;
}
#u962 {
  position:absolute;
  left:368px;
  top:238px;
  width:1px;
  height:390px;
}
#u963 {
  position:absolute;
  left:2px;
  top:187px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u964 {
  position:absolute;
  left:219px;
  top:728px;
  width:77px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u965 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u966 {
  position:absolute;
  left:328px;
  top:728px;
  width:75px;
  height:36px;
  color:#CCCCCC;
}
#u967 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u968 {
  position:absolute;
  left:252px;
  top:725px;
  width:10px;
  height:10px;
}
#u969 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u970 {
  position:absolute;
  left:138px;
  top:187px;
  width:65px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u971 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:62px;
}
#u972 {
  position:absolute;
  left:271px;
  top:656px;
  width:76px;
  height:62px;
}
#u973 {
  position:absolute;
  left:2px;
  top:23px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
